NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
NEXT_PUBLIC_SANITY_API_VERSION=
NEXT_PUBLIC_SITE_URL=

SANITY_API_TOKEN=
CLOUDFLARE_TUNNEL_TOKEN=
WEB_HOST_PORT=

NEXT_PUBLIC_UMAMI_WEBSITE_ID=
UMAMI_APP_SECRET=
UMAMI_DB_PASSWORD=
UMAMI_HOST_PORT=